#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=general | Belle Slack
Exec=/usr/bin/chromium --profile-directory=Default --app-id=lfkgpjpkgjklpochdlimcfcgjfnpnejb
Icon=chrome-lfkgpjpkgjklpochdlimcfcgjfnpnejb-Default
StartupWMClass=crx_lfkgpjpkgjklpochdlimcfcgjfnpnejb
