#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Instagram
Exec=/usr/bin/chromium --profile-directory=Default --app-id=jhjhkfdmkbcfndcpllejaipmkhmeihak
Icon=chrome-jhjhkfdmkbcfndcpllejaipmkhmeihak-Default
StartupWMClass=crx_jhjhkfdmkbcfndcpllejaipmkhmeihak
