#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=devRant
Exec=/usr/bin/chromium --profile-directory=Default --app-id=kkdpeaippgflnclchmgbhmkpnglcmale
Icon=chrome-kkdpeaippgflnclchmgbhmkpnglcmale-Default
StartupWMClass=crx_kkdpeaippgflnclchmgbhmkpnglcmale
