#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Music
Exec=/usr/bin/chromium --profile-directory=Default --app-id=fahmaaghhglfmonjliepjlchgpgfmobi
Icon=chrome-fahmaaghhglfmonjliepjlchgpgfmobi-Default
NoDisplay=true
StartupWMClass=crx_fahmaaghhglfmonjliepjlchgpgfmobi
